@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}
.inner {
  display: flex;
  width: 1200px;
  overflow: scroll;
}
.projectSummary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 200px;
  border: 3px solid #e0e0e0;
  border-radius: 10px;
  margin: 0 20px;
  padding: 10px;
}
.photo {
  width: 240px;
  height: 160px;
}

.mainletter {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.subletter {
  font-size: 14px;
  opacity: 0.5;
  margin: 10px;
}
