@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.applycation {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  color: #424242;
  text-align: center;
  margin-bottom: 40px;
}

.info {
  text-align: left;
  margin: 0px 0px 20px 70px;
  margin-bottom: 20px;
  width: 90vw;
  max-width: 1200px;
  font-size: 12px;
}

.info h2 {
  margin: 10px 0;
}

.textAreaContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.textArea {
  width: 90vw;
  max-width: 1200px;
  height: 300px;
  padding: 20px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-sizing: border-box;
  resize: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 10px 25px;
  background-color: transparent;
  color: #333;
  border: 2px solid #c2a4ff;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirmBtn {
  border: 2px solid #c2a4ff;
}

.confirmBtn:hover {
  background-color: #c2a4ff;
}

.cancelBtn {
  border: 2px solid #c2a4ff;
}

.cancelBtn:hover {
  background-color: #c2a4ff;
}
