.manualContainer {
  min-width: 500px;
  font-family: Arial, sans-serif;
  margin: 100px 100px 30px 100px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.title {
  font-size: 2em;
  margin-bottom: 40px;
  text-align: center;
  color: #333;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #444;
}

.section p {
  font-size: 1em;
  line-height: 1.6;
  color: #666;
  text-align: justify;
}
