/* 공통 스타일 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

/* MyPage 스타일 */
.MyPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 100px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 50%;
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profileInfo {
  width: 100%;
}

.section1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section1 h2 {
  font-size: 24px;
  margin: 0;
}

.section1 p {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.section1 img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.section3, .section4 {
  margin-top: 20px;
}

.section3 h2, .section4 h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.section3 p, .section4 img {
  font-size: 16px;
  color: #333;
}

.section4 img {
  width: 40px;
  height: 40px;
}

/* userProject 스타일 */
.userProject {
  width: 100%;
  margin-bottom: 20px;
}

.presentProject, .pastProject {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.presentProject h3, .pastProject h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.inner {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

.projectSummary {
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
}

.projectSummary img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.pmainletter {
  font-size: 16px;
  color: #333;
  margin: 0;
}

@media (max-width: 768px) {
  .projectSummary {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .projectSummary {
    flex: 1 1 100%;
  }
}
