.RegisterProjectHeader {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.RegisterProjectMain {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  margin: 40px 20px 20px 20px;
  border: 1px solid #212121;
  border-radius: 10px;
}

.RegisterProjectMain .projectImg {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.RegisterProjectMain .projectImg h3 {
  color: #424242;
}

.RegisterProjectMain .projectImg img {
  width: 200px;
}

.RegisterProjectMain .projectImg input {
  position: absolute;
  left: 350px;
  top: 60px;
}

.RegisterProjectMain .projectName h3 {
  margin-bottom: 10px;
}

.RegisterProjectMain .projectName input {
  width: 50vw;
  height: 50px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 15px;
  margin-bottom: 20px;
}

.RegisterProjectMain .projectInfo h3 {
  margin-bottom: 10px;
}

.RegisterProjectMain .projectInfo textarea {
  width: 100%;
  height: 200px;
  font-size: 18px;
  resize: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 15px 0px 0px 15px;
  margin-bottom: 20px;
}

.RegisterProjectMain .recruitmentDiv {
  position: relative;
}

.RegisterProjectMain .recruitmentDiv h3 {
  display: inline;
}

.RegisterProjectMain .recruitmentDiv button {
  position: absolute;
  top: 6px;
  left: 90px;
  border: none;
}

.RegisterProjectMain .language {
  margin-top: 20px;
}

.RegisterProjectMain .etc {
  margin-top: 40px;
}

.RegisterProjectMain .buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.RegisterProjectMain .buttons button {
  font-size: 20px;
  border: none;
}
